/* CrisMetal • CSS */

/*@import url(http://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300italic,300,100italic,100);*/

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #8a8a8a;
}

*::selection {
  background: #579DD7;
  color: #FFF;
}

*::-moz-selection {
  background: #579DD7;
  color: #FFF;
}

a {
  text-decoration: none;
}

img {
  border: 0;
}

ul {
  list-style: none;
}

input[type=submit] {
  cursor: pointer;
  border: none;
}

/* Classes Essenciais */
.imgreplace {
  text-indent: -9999px;
  display: block;
  overflow: hidden;
}

.c:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.c {
  display: inline-block;
}

html[xmlns] .c {
  display: block;
}

* html .c {
  height: 1%;
}

.clear {
  clear: both;
}

.r {
  position: relative;
}

.abs {
  position: absolute;
}

/*.font1 {
  font-family: 'Roboto', Arial, sans-serif;
}*/

.font1, .font2 {
  font-family: Arial, Helvetica, sans-serif;
}

.full {
  width: 100%;
}

.container {
  width: 1010px;
  margin: 0 auto;
  display: block;
}

/* Home */

.topo {
  padding: 52px 0 30px 0;
}

.topo h1 {
  width: 194px;
  float: left;
}

.topo h1 a {
  background: url(../img/layout/logo.png) 0 0 no-repeat;
  height: 87px;
}

.topo .selo60 {
  right: 0px;
  top: 59px;
}

.topo .fone {
  right: 0px;
  top: 0px;
  color: #579dd7;
  background: #d3e9f5;
  padding: 8px 15px;
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  font-size: 14px;
}

.topo .fone a {
  display: inline-block;
  font-size: 12px;
  vertical-align: top;
  line-height: 18px;
  color: #579dd7;
  text-decoration: underline;
}

.topo .fone a:first-of-type {
  padding-left: 20px;
}

.topo ul {
  float: left;
  padding: 23px 0;
  font-size: 16px;
  line-height: 23px;
  margin-left: 80px;
  font-family: Arial, Helvetica, sans-serif;
}

.topo ul li {
  display: inline-block;
  float: left;
  margin-right: 60px;
}

.topo ul li:first-child {
  float: none;
  clear: both;
  display: block;
  padding: 6px 0;
}

.topo ul li strong, .topo ul li strong a {
  color: #579dd7;
}

.topo ul li strong a:hover {
  text-decoration: underline;
}

.topo ul li.last a {
  color: #8a8a8a;
}

.topo ul li.last a:hover {
  text-decoration: underline;
}

.topcolor {
  background: url(../img/layout/rpt-topo.gif) 0 0 repeat-x #579dd7;
}

.conteudo-home .c-1-2 {
  width: 220px;
  float: left;
}

.conteudo-home .c-2-2 {
  width: 740px;
  float: right;
}

.title {
  font-size: 26px;
  background: url(../img/layout/titles-underline.gif) 0 bottom repeat-x;
  color: #579dd7;
  padding: 0 0 5px 0;
}

.sub-title {
  margin: 20px 0 10px 0;
}

.cat-title {
  font-size: 20px;
  background: url(../img/layout/titles-underline.gif) 0 bottom repeat-x;
  color: #579dd7;
  padding: 8px 0 5px 0;
}

.prod-categs {
  background: url(../img/layout/ilustra-categs.gif) center bottom no-repeat #f4f9fc;
  padding: 5px 0 500px 0;
}

.prod-categs li {
  line-height: 35px;
  border-bottom: 1px solid #CCE1F3;
}

.prod-categs li a {
  display: block;
  padding-left: 30px;
  color: #579DD7;
  font-size: 16px;
  background: url(../img/layout/arrow.png) 15px 0 no-repeat;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
}

.prod-categs li a:hover {
  background-color: #579DD7;
  background-position: 15px -35px;
  color: #FFF;
}

.lista-produtos {
  max-width: 535px;
  float: left;
}

.lista-produtos li {
  width: 232px;
  float: left;
  height: 287px;
  margin: 22px 7px;
  text-align: center;
}

.lista-produtos li a img {
  border: 1px solid #D3E3EF;
  margin-bottom: 15px;
}

.lista-produtos li p {
  font-size: 12px;
  color: #6B6B6B;
  height: 65px;
}

.lista-produtos li strong {
  display: block;
  color: #2293CD;
  font-size: 20px;
  line-height: 45px;
}

.box-control {
  width: 175px;
  float: right;
  padding: 10px;
  background: #579dd7;
  margin-top: 22px;
  color: #FFF;
  font-size: 14px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.box-control p.c {
  display: block;
  padding: 2px 0;
}

.box-control p.c strong {
  float: left;
}

.box-control p.c span {
  float: right;
}

.add-carrinho {
  display: block;
  margin: 15px 0 5px 0;
  padding: 15px 0 0 0;
  font-size: 14px;
  font-weight: bold;
  border-top: 1px dashed #FFF;
}

.add-carrinho label {
  float: left;
}

.add-carrinho input[type=number] {
  margin-left: 10px;
  color: #579dd7;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  width: 50px;
  text-align: center;
  float: right;
}

.add-carrinho input[type=submit] {
  background: url(../img/layout/carrinho-img.png) 7px center no-repeat #366097;
  color: #ffffff;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  width: 175px;
  padding: 8px 0px 8px 20px;
  margin: 15px 0 0 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #366097;
}

.add-carrinho input[type=submit]:hover {
  background-color: #26a4e4;
  border-color: #FFF;
}

.lista-produtos li .detalhes {
  display: block;
  width: 175px;
  line-height: 26px;
  font-size: 14px;
  font-weight: bold;
  background: #8EADAD 0 0 no-repeat;
  margin: 0 auto;
  color: #FFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.lista-produtos li .detalhes:hover {
  background: #9EC1C1;
}

.rodape {
  background: url(../img/layout/bot-shadow.png) 0 0 repeat-x #EAEDF2;
  padding: 45px 0;
  color: #7f7e7e;
}

.rodape .c-1-4,.rodape .c-2-4 {
  width: 260px;
  float: left;
}

.rodape .c-1-4 li:first-child,.rodape .c-2-4 li:first-child {
  padding-bottom: 12px;
}

.rodape .c-3-4 {
  width: 280px;
  float: left;
}

.rodape .c-4-4 {
  width: 200px;
  float: left;
}

.rodape h4 {
  font-size: 16px;
}

.rodape h3 {
  font-size: 14px;
  color: #579dd7;
  text-transform: uppercase;
}

.rodape .c-1-4 a,.rodape .c-2-4 a {
  color: #7f7e7e;
  font-size: 14px;
  line-height: 28px;
}

.rodape .c-1-4 a:hover,.rodape .c-2-4 a:hover {
  text-decoration: underline;
  color: #666;
}

.rodape address {
  font-size: 14px;
}

.rodape .c-4-4 h4 {
  background: url(../img/layout/logo-rodape.gif);
  width: 151px;
  height: 66px;
}

.rodape .c-4-4 a {
  background: #579dd7;
  color: #FFF;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  padding: 4px 8px;
  margin: 0 0 0 5px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin: 10px 0 5px 50px;
}

.rodape .c-4-4 a:hover {
  background: #579dd7;
}

.allrights {
  text-align: center;
  background: url(../img/layout/rpt-rodape.gif) 0 0 repeat-x;
  line-height: 41px;
  font-size: 12px;
}

.order-table {
  width: 100%;
  margin: 20px 0 20px 0;
}

.order-table th {
  font-size: 20px;
  text-align: left;
  padding-bottom: 10px;
  color: #579dd7;
}

.order-table input {
  width: 40px;
  padding: 2px;
  color: #579dd7;
  font-weight: bold;
}

.pedidos-kit {
  padding-left: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #579dd7;
  background-color: #d3e9f5;
}

.pedidos-kit a {
  color: #579dd7;
  background-color: #d3e9f5;
}

.pedidos-pro {
  padding-left: 10px;
  font-size: 11px;
}

.pedidos-update {
  padding: 10px 15px 10px 15px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  color: #ffffff;
  background-color: #579dd7;
  font-weight: bold;
  float: right;
}

.pedidos-bottom {
  padding: 15px 0;
  margin: 10px 0;
  border-top: 1px dashed #DDD;
  display: block;
  text-align: right;
}

.pedidos-bottom ul {
  padding: 5px 0;
  display: block;
}

.pedidos-bottom ul li:first-child {
  float: left;
  padding: 8px 0;
}

.pedidos-bottom ul li {
  float: right;
  margin-left: 7px;
}

.pedidos-bottom p strong {
  color: #579dd7;
}

.pedidos-bottom a {
  display: inline-block;
  padding: 10px 15px 10px 30px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  color: #ffffff;
  background-color: #9EC1C1;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
}

.pedidos-bottom a.checkout {
  background-image: url(../img/layout/checkout.png);
  background-position: 8px center;
  background-repeat: no-repeat;
}

.pedidos-bottom a.shopmore {
  background: url(../img/layout/carrinho-img.png) 8px center no-repeat #BBB;
}

.pedidos-bottom-finalizar {
  padding: 15px 0;
  margin: 10px 0;
  display: block;
  text-align: right;
}

.pedidos-bottom-finalizar ul {
  padding: 5px 0;
  display: block;
}

.pedidos-bottom-finalizar ul li:first-child {
  float: left;
  padding: 8px 0;
}

.pedidos-bottom-finalizar ul li {
  float: right;
  margin-left: 7px;
}

.pedidos-bottom-finalizar p strong {
  color: #579dd7;
}

.pedidos-bottom-finalizar a {
  display: inline-block;
  padding: 10px 15px 10px 30px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  color: #ffffff;
  background-color: #9EC1C1;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
}

.pedidos-bottom-finalizar a.checkout {
  background-image: url(../img/layout/checkout.png);
  background-position: 8px center;
  background-repeat: no-repeat;
}

.pedidos-bottom-finalizar a.shopmore {
  background: url(../img/layout/carrinho-img.png) 8px center no-repeat #BBB;
}

.pedidos-finalizar {
  margin-top: -10px;
  padding: 15px 0;
  display: block;
  border-top: 1px dashed #DDD;
}

.pedidos-finalizar input[type=submit] {
  float: right;
  font-size: 18px;
  display: inline-block;
  padding: 15px 25px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  color: #ffffff;
  background-color: #9EC241;
  font-weight: bold;
  text-align: center;
}

.pedidos-terms {
  display: none;
}

.form-carrinho {
  display: block;
}

.empty-cart {
  font-weight: bold;
  color: #579dd7;
  margin-top: 30px;
}

.modal-button {
  width: 90px;
  height: 30px;
  background-color: #579dd7;
  color: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  float: right;
  margin-right: 10px;
}

.final-table {
  width: 100%;
  margin: 20px 0 20px 0;
}

.final-table th {
  font-size: 16px;
  text-align: left;
  padding-bottom: 8px;
  color: #aaaaaa;
}

.final-table .main {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  background-color: #eeeeee;
  padding: 8px;
  color: #aaaaaa;
}

.btn-pay {
  float: right;
  height: 40px;
  background-color: #579dd7;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  padding-left: 12px;
  padding-right: 12px;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}

.btn-add {
  display: inline-block;
  background-color: #579dd7;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  margin-top: 20px;
  padding: 10px 14px;
  border: none;
  cursor: pointer;
}

.btn-novaconsulta {
  float: right;
  display: inline-block;
  background-color: #579dd7;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  margin-top: 20px;
  padding: 10px 14px;
  border: none;
  cursor: pointer;
}

.btn-cancel {
  float: right;
  height: 40px;
  background-color: #BBB;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  padding-left: 12px;
  padding-right: 12px;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}

.product-title {
  font-size: 18px;
  background: url(../img/layout/titles-underline.gif) 0 bottom repeat-x;
  color: #579dd7;
  padding: 0 0 5px 0;
}

.table-admin {
  margin-top: 20px;
  width: 100%;
}

.table-admin th {
  padding: 8px 10px;
  background-color: #d3e9f5;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  color: #579dd7;
}

.table-admin tr {
  line-height: 25px;
}

.table-admin td {
  background-color: #eeeeee;
  font-size: 12px;
  font-weight: bold;
  padding-left: 10px;
}

.table-admin .short {
  width: 90px;
  padding-left: 0;
  text-align: center;
}

.form-add {
  padding: 30px 0;
  width: 740px;
}

.form-add .sec-title {
  margin-top: 20px;
  color: #579dd7;
  padding: 10px 0;
  border-bottom: 1px dashed #DDD;
}

label.sub-title span {
  font-size: 12px;
  position: absolute;
  bottom: -15px;
  left: 0px;
}

.form-add .img-holder {
  margin: 0 0 20px 0;
}

.form-add .file-holder {
  padding: 10px 0;
}

.form-add label {
  display: inline-block;
  float: left;
  margin-top: 10px;
  font-size: 14px;
  color: #579dd7;
  font-weight: bold;
  min-width: 140px;
}

.form-add .add_product_buttonspacer {
  padding-right: 70px;
  display: block;
}

.form-add .add_cliente_buttonspacer {
  padding-right: 248px;
  display: block;
}

.form-add .add_kit_buttonspacer {
  padding-right: 248px;
  display: block;
}

.form-add .update_client_buttonspacer {
  padding-right: 248px;
  display: block;
}

.form-add .update_product_buttonspacer {
  padding-right: 88px;
  display: block;
}

.form-add .update_kit_buttonspacer {
  padding-right: 248px;
  display: block;
}

.form-add .addkit_block {
  clear: both;
  padding: 5px 0;
}

.form-add input[type=text] {
  width: 340px;
  font-size: 14px;
  padding: 5px;
  border: 1px solid #999;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  outline: none;
  text-transform: uppercase;
  margin-top: 5px;
}

.form-add select {
  width: 352px;
  font-size: 14px;
  padding: 5px;
  border: 1px solid #999;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  outline: none;
  text-transform: uppercase;
  margin-top: 5px;
}

.form-add textarea {
  width: 500px;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 5px;
  border: 1px solid #999;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  outline: none;
  margin-top: 5px;
}

.form-add input[type=text]:focus {
  border-color: #579dd7;
}

.form-add .clear {
  height: 20px;
}

.infopop {
  padding: 10px;
  margin: 30px 0 0 0;
  background: #FAFAFA;
  border: 1px solid #DADADA;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-weight: normal;
  font-size: 14px;
}

.simple-link {
  font-weight: bold;
  font-size: 14px;
  color: #579dd7;
  text-decoration: none;
  margin-top: 5px;
}

.simple-link-finalizar {
  font-weight: bold;
  font-size: 14px;
  color: #579dd7;
  text-decoration: none;
  margin-top: 10px;
  float: left;
}

.block {
  margin: 20px 0;
}

.block p {
  margin-bottom: 10px;
}

.kit-numbers {
  display: block;
  /*float: left;*/
  width: 30px;
  margin: 10px 10px 0 0;
  font-size: 14px;
  color: #579dd7;
  font-weight: bold;
  padding: 10px;
  background: #FAFAFA;
}

.kit-numbers input[type=number] {
  display: block;
  width: 40px;
  margin-top: 10px;
  color: #666666;
  font-weight: bold;
  padding: 4px;
  background: #FAFAFA;
}

.warning {
  margin-top: 15px;
  color: #ff0000;
  font-size: 13px;
  font-weight: bold;
}

.link-cancel {
  float: right;
  height: 30px;
  background-color: #999;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 10px;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}

label.error {
  float: none;
  color: red;
  margin-left: 15px;
  vertical-align: top;
}

.radio-toolbar {
  margin-top: 20px;
}

.radio-toolbar .buttonspacer {
  margin-top: 20px;
  padding-right: 288px;
  display: block;
}

.radio-toolbar p {
  font-size: 20px;
  font-weight: bold;
  color: #579dd7;
  margin-top: 40px;
  margin-bottom: 20px;
}

.radio-toolbar input[type="radio"] {
  margin-top: 15px;
}

.radio-toolbar label {
  color: #999;
  display: inline-block;
  padding: 4px 4px 8px 4px;
  font-weight: bold;
  font-size: 14px;
}

.radio-toolbar input[type="text"] {
  width: 90px;
  font-size: 14px;
  padding: 5px;
  border: 1px solid #999;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  outline: none;
  text-transform: uppercase;
  margin-left: 10px;
  margin-right: 10px;
}

.radio-toolbar input[type="radio"]:checked + label {
  color: #579dd7;
  /*background-color: #579dd7;*/
}

.admin-pesquisa {
  margin-top: 20px;
}

.admin-pesquisa .buttonspacer {
  margin-top: 20px;
  padding-right: 572px;
  display: block;
}

.admin-pesquisa p {
  font-size: 16px;
  font-weight: bold;
  color: #579dd7;
}

.admin-pesquisa label {
  color: #999;
  display: inline-block;
  padding: 4px 4px 8px 4px;
  font-weight: bold;
  font-size: 14px;
}

.admin-pesquisa input[type="text"] {
  width: 100px;
  font-size: 14px;
  padding: 5px;
  border: 1px solid #999;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  outline: none;
  text-transform: uppercase;
  margin: 10px 10px 10px 0;
}

.admin-pesquisa .error {
  color: #ff0000;
  margin-top: 10px;
}